<footer class="footer">
  <div class="logo">NUTRIVIDA</div>
  <div class="icons">
    <a href="https://www.facebook.com/" target="_blank">Facebook</a>
    <a href="https://x.com/" target="_blank">Twitter</a>
    <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
    <a href="https://www.instagram.com/" target="_blank">Instagram</a>
  </div>
</footer>
