<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nós - Nutrivida</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('partials/navbar') %>

<div class="sobre-origem">
  <div class="sobre-origem-inner">
    <h2>Por que foi criado o Nutrivida?</h2>
    <p>
      A Nutrivida nasceu da necessidade de aumentar a conscientização sobre os desafios das
      fazendas urbanas e os efeitos do crescimento urbano acelerado na produção de alimentos
      saudáveis. Somos estudantes do Mackenzie que acreditam que tecnologia e inovação podem
      transformar a forma como as cidades se alimentam.
    </p>
    <p>
      Queremos oferecer uma fonte confiável de informações e soluções para que produtores urbanos
      possam tomar decisões conscientes, contribuindo para um ambiente mais limpo, sustentável e
      com mais qualidade de vida para todos.
    </p>
    <a href="/contato" class="btn-verde">Entre em contato!</a>
  </div>
</div>

<div class="secao-time">
  <h2>Conheça nosso time!</h2>
  <p class="subtexto-time">Estudantes universitários apaixonados por tecnologia e meio ambiente.</p>

  <div class="grid-time">

    <div class="card-membro">
      <div class="card-membro-foto">
        <img src="/img/guilherme.png" alt="Guilherme Ferreira">
      </div>
      <div class="card-membro-info">
        <h3>Guilherme Ferreira</h3>
        <a href="https://www.linkedin.com/in/guilherme-ferreira-21533b379" target="_blank" class="btn-linkedin">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
          LinkedIn
        </a>
      </div>
    </div>

    <div class="card-membro">
      <div class="card-membro-foto">
        <img src="/img/Watanabe.png" alt="João Watanabe">
      </div>
      <div class="card-membro-info">
        <h3>João Watanabe</h3>
        <a href="https://www.linkedin.com/feed" target="_blank" class="btn-linkedin">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
          LinkedIn
        </a>
      </div>
    </div>

    <div class="card-membro">
      <div class="card-membro-foto">
        <img src="/img/patrick.png" alt="Patrick Piloto">
      </div>
      <div class="card-membro-info">
        <h3>Patrick Piloto</h3>
        <a href="https://www.linkedin.com/in/patrick-piloto-ferreira-81398734b" target="_blank" class="btn-linkedin">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
          LinkedIn
        </a>
      </div>
    </div>

    <div class="card-membro">
      <div class="card-membro-foto">
        <img src="/img/victor.png" alt="Victor Fogaça">
      </div>
      <div class="card-membro-info">
        <h3>Victor Fogaça</h3>
        <a href="https://www.linkedin.com/in/victor-medeiros-foga%C3%A7a-b03056355" target="_blank" class="btn-linkedin">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
          LinkedIn
        </a>
      </div>
    </div>

  </div>
</div>

<div class="destaque-verde">
  <h2 style="padding: 0 0 6px; font-family: 'Playfair Display', serif;">Sobre Nós</h2>
</div>

<div class="topicos">
  <ul>
    <li>Somos um grupo de estudantes universitários do Mackenzie, apaixonados por tecnologia e meio ambiente.</li>
    <li>Acreditamos que a tecnologia pode ser uma grande aliada na busca por um ambiente mais saudável e sustentável.</li>
    <li>Nosso compromisso é oferecer uma plataforma confiável e educativa, permitindo que qualquer pessoa possa se informar e tomar decisões conscientes.</li>
    <li>Estamos sempre buscando novas maneiras de aprimorar nosso projeto e contribuir para um futuro mais limpo e sustentável.</li>
  </ul>
</div>

<%- include('partials/footer') %>

</body>
</html>
